<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Nowy Kursy</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<header th:replace="fragments/header :: menuAdmin"></header>
<h2>Dodawanie Trenera</h2>

<form th:action="@{/admin/saveCourse}" th:object="${course}" method="post">

    <p th:errors="*" class="error" th:errorclass="form-field-error"></p>  <!-- wyswietlenie wszystkich bledow-->

    <input id="id" type="hidden" th:field="*{id}">
    <label for="name">Nazwa</label> <input id="name" type="text" th:field="*{name}" th:class=${#fields.hasErrors('name')}?error/><br> <!-- zamiast th:class mzoe byc th:class append ktory dodaje kolejna klase-->
    <!--<p th:errors="*{name}" class="error"></p>-->
    <label for="description">opis</label> <textarea id="description" cols="30" rows="10" th:field="*{description}" th:class=${#fields.hasErrors('description')}?error></textarea>
    <!--<p th:errors="*{description}" class="error"></p>-->
    <label for="technology">technologie</label> <input id="technology" type="text" th:field="*{technology}" th:class=${#fields.hasErrors('technology')}?error /><br>
    <!--<p th:errors="*{salary}" class="error"></p>-->
    <input type="submit" value="zapisz"/>
</form>




<footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>