<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Kontakt</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
    <header th:replace="fragments/header :: menu"></header>
    <h2>Kontakt</h2>

    <span th:if="${sentMessage}"> wiadomosc została wysłana </span><br>

    <form th:action="@{/wyslano}" th:object="${contact}" method="post">
        <label for="name">Imie</label> <input id="name" type="text" th:field="*{name}" /><br>
        <label for="lastName">Nazwisko</label> <input id="lastName" type="text" th:field="*{lastName}" /><br>
        <label for="email">email  </label> <input id="email" type="email" th:field="*{email}" /><br>
        <label for="message">Wiadomosc</label> <textarea id="message" cols="30" rows="10" th:field="*{message}"></textarea><br>
        <input type="submit" value="wyślij"/>

    </form>
    <footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>