<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Kontakt</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div id="main">
    <header th:replace="fragments/header :: menu"></header>
    <h1>Kontakt</h1>

    <span class="confirmation" th:if="${sentMessage}"> wiadomosc została wysłana </span><br>

    <form th:action="@{/sent}" th:object="${contact}" method="post">

        <p th:if="${#fields.hasErrors('name')}" class="error">Podaj imie</p>
        <label for="name">Imie</label> <input id="name" type="text" placeholder="imię" th:field="*{name}"/><br>
        <p th:errors="*{lastName}" class="error"></p>
        <label for="lastName">Nazwisko</label> <input id="lastName" type="text" placeholder="nazwisko"
                                                      th:field="*{lastName}"/><br>
        <label for="email">email </label> <input id="email" type="email" placeholder="xxx@xxx.pl"
                                                 th:field="*{email}"/><br>
        <label for="message">Wiadomosc</label> <textarea id="message" placeholder="wiadomość" cols="30" rows="10"
                                                         th:field="*{message}"></textarea><br>
        <input type="submit" value="wyślij"/>

    </form>
    <footer th:replace="fragments/footer :: footer"></footer>
</div>
</body>
</html>