<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Kursy</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div id="main">
    <header th:replace="fragments/header :: menuAdmin"></header>
    <h1>Kursy</h1>

    <span th:if="${courseIsAdded}"> Dodano Kurs </span><br>
    <span th:if="${courseIsChanged}"> Zmieniono Kurs </span><br>
    <a class="AddButton" href="/admin/addCourse"> <img src="https://cdn1.iconfinder.com/data/icons/ui-colored-1/100/UI__2-512.png" title="Dodaj kurs" alt="Dodaj kurs"> </a>
    <table>
        <tr>
            <th>Nazwa</th>
            <th>Opis</th>
            <th>Technologie</th>
            <th></th>
        </tr>
        <tr th:each="course : ${courseList}">
            <td>
                <span th:text="${course.name}"></span>
            </td>
            <td>
                <span th:text="${course.description}"></span>
            </td>
            <td>
                <span th:text="${course.technology}"></span>
            </td>
            <td>
                <a th:href="@{editCourse(id=${course.id})}" method="get">edytuj</a>

            </td>
        </tr>
    </table>

    <footer th:replace="fragments/footer :: footer"></footer>
</div>
</body>
</html>