<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Kursy</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

<div id="main">
    <header th:replace="fragments/header :: menu"></header>
    <h1>Lista kursów</h1>

    <span class="confirmation" th:if="${editionIsNotActive}"> Rekrutacja zakończona </span><br>
    <table>
        <tr>
            <th>Nazwa</th>
            <th>Opis</th>
            <th>Data Rozpoczecia</th>
            <th>Data Zakonczenia</th>
            <th>Cena</th>
            <th>Trener prowadzący</th>
            <th>Tryb</th>
            <th>Staus</th>
            <th></th>

        </tr>
        <tr th:each="courseEdition : ${courseEditionList}">
            <td>
                <span th:text="${courseEdition.course.name}"></span>
            </td>
            <td>
                <span th:text="${courseEdition.course.description}"></span>
            </td>
            <td>
                <span th:text="${courseEdition.startDate}"></span>
            </td>
            <td>
                <span th:text="${courseEdition.endDate}"></span>
            </td>
            <td>
                <span th:text="${courseEdition.price}"></span>
            </td>
            <td>
                <a sec:authorize="isAuthenticated()" th:href="@{admin/editTrainer(id=${courseEdition.trainer.id})}" th:text="${courseEdition.trainer.name} + ' ' + ${courseEdition.trainer.lastName}"></a>
                <!--<a sec:authorize="hasAuthority('Admin')" th:href="@{admin/editTrainer(id=${courseEdition.trainer.id})}" th:text="${courseEdition.trainer.name} + ' ' + ${courseEdition.trainer.lastName}"></a>-->
                <a sec:authorize="isAnonymous()" th:href="'trenerzy/'+${courseEdition.trainer.id}" th:text="${courseEdition.trainer.name} + ' ' + ${courseEdition.trainer.lastName}"></a>


            </td>
            <td>
                <span th:text="${courseEdition.courseMode.name}"></span>
            </td>
            <td>
                <span th:text="${courseEdition.active}?'Reakrutacja aktywna' : 'Rektutacja zakończona'"></span>
            </td>
            <td>
                <a sec:authorize="isAnonymous()" th:href="@{registeration(id=${courseEdition.id})}" th:if="${courseEdition.active}" method="get">ZAPIS</a>
                <script></script>
                <!--<a href="javascript:alert('Czy na pewno cchesz zapisac sie na ten kurs?');">Execute JavaScript</a>-->
                <a sec:authorize="hasAuthority('user')" onClick="alert('Czy na pewno chesz zapisac sie na ten kurs?')" th:href="@{registeration(id=${courseEdition.id})}" th:if="${courseEdition.active}" method="get">ZAPIS</a>
            </td>
        </tr>
    </table>
    <footer th:replace="fragments/footer :: footer"></footer>
</div>
</body>


</html>