<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>EdycjeKursów</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div id="main">
    <header th:replace="fragments/header :: menuAdmin"></header>
    <h1>Edycje Kursów</h1>

    <span th:if="${courseEditionIsAdded}"> Dodano Edycję Kursu </span><br>
    <span th:if="${courseEditionIsChanged}"> Zmieniono Edycję Kursu </span><br>
    <a class="AddButton" href="/admin/addCourseEdition"> <img src="https://cdn1.iconfinder.com/data/icons/ui-colored-1/100/UI__2-512.png" title="Dodaj edycje kurs" alt="Dodaj edycje kurs"></a>

    <table>
        <tr>
            <th>Nazwa</th>
            <th>Data Rozpoczecia</th>
            <th>Data Zakonczenia</th>
            <th>Cena</th>
            <th>Liczba miejsc</th>
            <th>Tryb</th>
            <th>Trener prowadzący</th>
            <th></th>
        </tr>
        <tr th:each="courseEdition : ${courseEditionList}">
            <td>
                <span th:text="${courseEdition.course.name}"></span>
            </td>
            <td>
                <span th:text="${courseEdition.startDate}"></span>
            </td>
            <td>
                <span th:text="${courseEdition.endDate}"></span>
            </td>
            <td>
                <span th:text="${courseEdition.price}"></span>
            </td>
            <td>
                <span th:text="${courseEdition.membersLimit}"></span>
            </td>
            <td>
                <span th:text="${courseEdition.courseMode.name}"></span>
            </td>
            <td>
                <span th:text="${courseEdition.trainer.name} + ' ' + ${courseEdition.trainer.lastName}"></span>
            </td>
            <td>
                <a th:href="@{editCourseEdition(id=${courseEdition.id})}" method="get">edytuj</a>
            </td>
        </tr>
    </table>

    <footer th:replace="fragments/footer :: footer"></footer>
</div>
</body>
</html>