<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>trenerzyAdmina</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div id="main">
    <header th:replace="fragments/header :: menuAdmin"></header>
    <h1>Trenerzy</h1>

    <span class="confirmation" th:if="${trainerIsAdded}"> Dodano Trenera </span><br>
    <span class="confirmation" th:if="${trainerIsChanged}"> Zmieniono Trenera </span><br>
    <span class="confirmation" th:if="${trainerIsDeleted}"> Usunieto Trenera </span><br>
    <a class="AddButton" href="/admin/addTrainer"> <img src="https://cdn1.iconfinder.com/data/icons/ui-colored-1/100/UI__2-512.png" title="Dodaj trenera" alt="Dodaj trenera"> </a>

    <table>
        <tr>
            <th>Imie</th>
            <th>Nazwisko</th>
            <th>Stawka</th>
            <th></th>
        </tr>
        <tr th:each="trainer : ${trainersListSortedByLastName}">
            <td>
                <span th:text="${trainer.name}"></span>
            </td>
            <td>
                <span th:text="${trainer.lastName}"></span>
            </td>
            <td>
                <span th:text="${trainer.salary}"></span>
            </td>
            <td>
                <a th:href="@{editTrainer(id=${trainer.id})}" method="get">edytuj</a><br>
                <a th:href="@{deleteTrainer(id=${trainer.id})}" method="get">usun</a>
            </td>
        </tr>
    </table>

    <footer th:replace="fragments/footer :: footer"></footer>
</div>
</body>
</html>