<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Trenerzy</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div id="main">
    <header th:replace="fragments/header :: menu"></header>
    <h1>Trenerzy</h1>

    <ul>
        <li th:each="trainer: ${trainersList}">
            <a th:href="'trenerzy/'+${trainer.id}" th:text="${trainer.name}+ ' ' + ${trainer.lastName}" ></a>
        </li>
    </ul>
    <footer th:replace="fragments/footer :: footer"></footer>
</div>
</body>
</html>